body {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

#header {
	background-color: #000000;
	color: #ffffff;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

#navigation {
	text-align: center;
	font-size: 12px;
}

#navigation li {
  list-style-type: none;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 7px;
}

#header ul li a {
  color: #ffffff;
  text-decoration: none;
}

#header ul li a:hover, #header ul li.selected a {
  font-weight: bold;
}

#name {
	display: inline-block;
	padding-left: 20px;
}

#title {
	padding-top: 150px;
	padding-left: 25px;
}

/* WOULD YOU RATHER FORM */

.wouldyourather {
	text-align: left;
	padding: 0;
	margin-left: 0;
}

.wouldyourather input{
	padding-left: 3px;
}

#submit {
	padding-top: 10px;
  padding-left: 150px;
}

/* WOULD YOU RATHER: FOOD VS SCI */

.food{background-image:url(wyrpics/food.png);}
.sci{background-image:url(wyrpics/science.png);}

.wouldyourather input:active + .foodVSsci {
  opacity: 1;
}

.wouldyourather input:checked + .foodVSsci {
  border-style: solid;
  border-width: 3px;
  border-color: black;

    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.foodVSsci{
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    
    -webkit-filter: opacity(.8);
       -moz-filter: opacity(.8);
            filter: opacity(.8);
}

.foodVSsci:hover{
    -webkit-filter: opacity(1);
       -moz-filter: opacity(1);
            filter: opacity(1);
}

/* WOULD YOU RATHER: ART VS HISTORY */

.art{background-image:url(wyrpics/art.png);}
.history{background-image:url(wyrpics/history.png);}

.wouldyourather input:active + .artVShistory {
  opacity: 1;
}

.wouldyourather input:checked + .artVShistory {
  border-style: solid;
  border-width: 5px;
  border-color: black;

    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.artVShistory{
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    
    -webkit-filter: opacity(.8);
       -moz-filter: opacity(.8);
            filter: opacity(.8);
}

.artVShistory:hover{
    -webkit-filter: opacity(1);
       -moz-filter: opacity(1);
            filter: opacity(1);
}

/* WOULD YOU RATHER: OUT VS SPORTS */

.out{background-image:url(wyrpics/outdoors.png);}
.sports{background-image:url(wyrpics/sports.png);}

.wouldyourather input:active + .outVSsports { 
  opacity: 1;
}

.wouldyourather input:checked + .outVSsports {
  border-style: solid;
  border-width: 5px;
  border-color: black;

    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.outVSsports{
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    
    -webkit-filter: opacity(.8);
       -moz-filter: opacity(.8);
            filter: opacity(.8);
}

.outVSsports:hover{
    -webkit-filter: opacity(1);
       -moz-filter: opacity(1);
            filter: opacity(1);
}

/* WOULD YOU RATHER: ENT VS MUSIC */

.ent{background-image:url(wyrpics/comedy.png);}
.music{background-image:url(wyrpics/music.png);}

.wouldyourather input:active + .entVSmusic {
  opacity: 1;
}

.wouldyourather input:checked + .entVSmusic{
  border-style: solid;
  border-width: 5px;
  border-color: black;

    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.entVSmusic{
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    
    -webkit-filter: opacity(.8);
       -moz-filter: opacity(.8);
            filter: opacity(.8);
}

.entVSmusic:hover{
    -webkit-filter: opacity(1);
       -moz-filter: opacity(1);
            filter: opacity(1);
}


