body {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	background-color: #000000;
}

#header {
	background-color: #000000;
	color: #ffffff;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

#navigation {
	text-align: center;
	font-size: 12px;
}

#grid {
	padding-top: 150px;
	left: 0;
	right: 0;
	margin: 0;
	list-style-type: none;
	line-height: 0;
	width: 100%;
}

#grid > * {
	width: 100%;
}

#grid ul li {
	z-index: 0;
	width: 100%;
}

#grid ul li a {
	z-index: 0;
	width: 100%;
}

#grid img {
	z-index: 0;
	width: 100%;
	border: 2px solid #ffffff;
}

