body {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;

	background: url(aboutbg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#header {
	background-color: #000000;
	color: #ffffff;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

#navigation {
	text-align: center;
	font-size: 12px;
}

#content {
	margin: 0;
	margin-top: 150px;
	background-color: #ffffff;
	border-style: solid;
	border-width: .5px;
	border-color: #ffffff;
	border-radius: 15px;
	opacity: 0.8;
	text-align: center;
}

#content p {
	padding: 0;
	margin: 0;
}


