html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	background-color: black;
	text-align: center;
	width: 100%; 
	margin: 0 auto;
}

#header {
	background-color: #000000;
	color: #ffffff;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

#name {
	display: inline-block;
	padding-left: 20px;
	float:left;
}

#navigation {
	list-style-type: none;
	display: inline-block;
	vertical-align: middle;
	padding-right: 50px;
	padding-top: 15px;
	float: right;
}

#navigation li {
	list-style-type: none;
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
	padding-left: 7px;
}

#header ul li a {
	color: #ffffff;
	text-decoration: none;
}

#header ul li a:hover, #header ul li.selected a {
	font-weight: bold;
}

#logout {
	background-color: black;
	color: #ffffff;
	border: none;
	font-size: 16px;
	cursor: pointer;	
}

#title {
	color: #ffffff;
	text-align: center;
}

#requestFeedback {
	color: #ffffff;
	text-align: center;
}

#recommendations {
	text-align: center;
	width:100%;
}

figure {
	display: inline-block;
	margin: 1%;
	padding-left: 1%;
	cursor: pointer;
	text-align: center;
}

img {
	height: 400px;
	width: 315px;
	border-radius: 10%;
	cursor: pointer;
}

h4 {
	top: 260px;
	position: absolute;
	text-align: center;
}

span {
	background-color: white;
	letter-spacing: -1px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
}

.review {
	cursor: pointer;
	height: 50px;
	width: auto;
	padding:1%;
}

.review:hover {
	cursor: pointer;
}

#more {
	display: inline-block;
	verical-align: center;
}

#new {
	display: inline-block;
	background-color: black;
	width: 140px;
	height: auto;
	padding-top: 3px;
	padding-bottom: 3px;
	border-color: black;
	border-radius: 5px;
	cursor: pointer;
}

#new:hover {
	cursor: pointer;
}

#map {
	height: 65%;
	width: 85%;
	display: inline-block;
	text-align: center;
	margin: 2%;
}

#footer {
	color: #ffffff;
	font-size: 12px;
	text-align: center;
}

