html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  background-color: black;
  text-align: center;
  width: 100%; 
  margin: 0 auto;
}

#header {
  background-color: #000000;
  color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

#name {
  display: inline-block;
  padding-left: 20px;
  float:left;
}

#navigation {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
  padding-right: 50px;
  padding-top: 15px;
  float: right;
}

#navigation li {
  list-style-type: none;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 7px;
}

#header ul li a {
  color: #ffffff;
  text-decoration: none;
}

#header ul li a:hover, #header ul li.selected a {
  font-weight: bold;
}

#recommendations {
  padding-left: 1%; 
  color: #000000;
  text-align: center;
  width:100%;
  height: 58%;
}

.review {
  display: inline-block;
  cursor: pointer;
  height: 50px;
  width: auto;
  padding:1%;
  margin-top: 2%;
}

.photo{
  width: 90%;
  height: 40%;
  border-radius: 35%;

}

#footer {
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}

.rec{
  float:left;
  padding-left: 1%;
  height: 380px;
  width: 260px;
  margin: 1%;
  color: #FFFFFF;
  text-align: center;

}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #595959;
    border-radius: 5%;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}
#firstRec{

      background-image: url('/Users/stephenmartinez/Documents/Undergraduate_Courses/Capstone/API_Requests/nyc1.jpg');
}
#secondRec{

      background-image: url('/Users/stephenmartinez/Documents/Undergraduate_Courses/Capstone/API_Requests/nyc2.jpg');
}
#thirdRec{

      background-image: url('/Users/stephenmartinez/Documents/Undergraduate_Courses/Capstone/API_Requests/nyc3.jpg');
}
#fourthRec{

      background-image: url('/Users/stephenmartinez/Documents/Undergraduate_Courses/Capstone/API_Requests/nyc4.jpg');
}

#map {
  height: 65%;
  width: 85%;
  display: inline-block;
  text-align: center;
  margin: 2%;
}
