body {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

#header {
	background-color: #000000;
	color: #ffffff;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

#name {
	display: inline-block;
	padding-left: 20px;
}

#navigation {
	list-style-type: none;
	display: inline-block;
	vertical-align: middle;
	padding-right: 50px;
	padding-top: 15px;
	float: right;
}

#navigation li {
	list-style-type: none;
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
	padding-left: 7px;
}

#header ul li a {
	color: #ffffff;
	text-decoration: none;
}

#header ul li a:hover, #header ul li.selected a {
	font-weight: bold;
}

#title {
	padding-top: 100px;
	padding-left: 25px;
}

/* WOULD YOU RATHER FORM */

.wouldyourather {
	text-align: center;
}

.wouldyourather input{
	display: inline-block;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

#submit {
	padding-top: 10px;
	padding-bottom: 50px;
	padding-right: 80px;
	float: right;
}

/* WOULD YOU RATHER: FOOD VS SCI */

.food{background-image:url(wyrpics/food.jpg);}
.sci{background-image:url(wyrpics/science.jpg);}

.wouldyourather input:active +.foodVSsci{opacity: 1;}
.wouldyourather input:checked +.foodVSsci{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.foodVSsci{
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 450px;
    height: 305px;
    
    -webkit-filter: opacity(.8);
       -moz-filter: opacity(.8);
            filter: opacity(.8);
}

.foodVSsci:hover{
    -webkit-filter: opacity(1);
       -moz-filter: opacity(1);
            filter: opacity(1);
}

/* WOULD YOU RATHER: ART VS HISTORY */

.art{background-image:url(wyrpics/art.jpg);}
.history{background-image:url(wyrpics/history.jpg);}

.wouldyourather input:active +.artVShistory{opacity: 1;}
.wouldyourather input:checked +.artVShistory{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.artVShistory{
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 450px;
    height: 305px;
    
    -webkit-filter: opacity(.8);
       -moz-filter: opacity(.8);
            filter: opacity(.8);
}

.artVShistory:hover{
    -webkit-filter: opacity(1);
       -moz-filter: opacity(1);
            filter: opacity(1);
}

/* WOULD YOU RATHER: OUT VS SPORTS */

.out{background-image:url(wyrpics/outdoors.jpg);}
.sports{background-image:url(wyrpics/sports.jpg);}

.wouldyourather input:active +.outVSsports{opacity: 1;}
.wouldyourather input:checked +.outVSsports{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.outVSsports{
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 450px;
    height: 305px;
    
    -webkit-filter: opacity(.8);
       -moz-filter: opacity(.8);
            filter: opacity(.8);
}

.outVSsports:hover{
    -webkit-filter: opacity(1);
       -moz-filter: opacity(1);
            filter: opacity(1);
}

/* WOULD YOU RATHER: ENT VS MUSIC */

.ent{background-image:url(wyrpics/comedy.jpg);}
.music{background-image:url(wyrpics/music.jpg);}

.wouldyourather input:active +.entVSmusic{opacity: 1;}
.wouldyourather input:checked +.entVSmusic{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.entVSmusic{
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 450px;
    height: 305px;
    
    -webkit-filter: opacity(.8);
       -moz-filter: opacity(.8);
            filter: opacity(.8);
}

.entVSmusic:hover{
    -webkit-filter: opacity(1);
       -moz-filter: opacity(1);
            filter: opacity(1);
}



