<!doctype html>
<!-- Website Template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>What Do NYC</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<link rel="stylesheet" type="text/css" href="../static/mobile.css" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="../static/mobile.js"></script>
</head>
<body>
	<div id="header">
		<br></br>
		<a href="index.html" class="logo"><img src="../static/logo.png" alt="What Do NYC logo"></a>
		<ul id="navigation">
			<li class="selected"><a href="index.html">home</a></li>
			<li><a href="login.html">recommendations</a></li>
			<li><a href="spotlight.html">spotlight</a></li>
		</ul>
	</div>
	<div id="body">
		<br></br>
		<div id="slideshowContainer">
			<img class="slide" src="../static/slideshow1.jpg" alt="">
			<img class="slide" src="../static/slideshow2.jpg" alt="">
			<img class="slide" src="../static/slideshow3.jpg" alt="">
		</div>
		<ul>
			<li><a id="ads" href=""><img src="../static/ad1.jpg" alt="The Unisphere"><span>The Unisphere</span></a></li>
			<li><a id="ads" href=""><img src="../static/ad2.jpg" alt="The Metropolitan Museum of Art"><span>The Metropolitan Museum of Art</span></a></li>
			<li><a id="ads" href=""><img src="../static/ad3.jpg" alt="New York Aquarium"><span>New York Aquarium</span></a></li>
		</ul>
	</div>

	<!-- Slideshow JavaScript-->
	<script type="text/javascript" src="../static/slideshow.js"></script>

	<div id="footer">
		<div>
			<h3>What Do NYC</h3>
			<p>we choose, you do</p>
			<ul>
				<li><a href="index.html">home</a></li>
				<li><a href="login.html">recommendations</a></li>
				<li><a href="spotlight.html">spotlight</a></li>
			</ul>
		</div>
	</div>
</body>
</html>
