<!doctype html5>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>What Do NYC: Login</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<link rel="stylesheet" type="text/css" href="../static/mobile.css" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="js/mobile.js"></script>
</head>
<body>
	
	<div id="header">
		<br></br>
		<a href="index.html" class="logo"><img src="../images/logo.png" alt="What Do NYC logo"></a>
		<ul id="navigation">
			<li><a href="index.html">home</a></li>
			<li class="selected"><a href="login.html">recommendation</a></li>
			<li><a href="spotlight.html">spotlight</a></li>
		</ul>
	</div>
	
	<div id="subhead">
		<h3>What do you feel like doing today?</h3>
	</div>
	
	<div id="questions">
		<form action="" method="post">
			
			<input type="submit" name="submit" id="submit" value="Show Me">
		</form>
	</div>
	
	<div id="footer">
		
	</div>
	
</body>
</html>





