<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Would You Rather</title>
	<link rel="stylesheet" type="text/css" href="../static/wyr.css">
	<link rel="stylesheet" type="text/css" href="../static/mobile.css" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="../static/mobile.js"></script>
</head>
<body>
	<div id="header">
		<h1 id="name">What Do NYC</h1>
		<ul id="navigation">
			<li><a href="index.html">home</a></li>
			<li>|</li>
			<li class="selected"><a href="login.html">recommendations</a></li>
			<li>|</li>
			<li><a href="spotlight.html">spotlight</a></li>
			<li>|</li>
			<li><a href="about.html">about</a></li>
		</ul>
	</div>
	<h2 id="title">Want to spend time outdoors or indoors today?</h2>
	<form id="preferences" action="" method="post">
		<figure id="OvsI">
			<img src="../static/quespics/outdoors.jpg" alt="">
			<figcaption><input name="OvsI" type="radio" value="outdoors"> Outdoors</input></figcaption>
		</figure>
		<figure id="OvsI">
			<img src="../static/quespics/indoors.jpg" alt="">
			<figcaption><input name="OvsI" type="radio" value="indoors"> Indoors</input></figcaption>
		</figure>
	<h2 id="title2">How much are you willing to spend today?</h2>
		<figure id="price">
			<img src="../static/quespics/one.png" alt="one dollar sign">
			<figcaption><input name="price" type="radio" value="one"> $RANGE</input></figcaption>
		</figure>
		<figure id="price">
			<img src="../static/quespics/two.png" alt="two dollar signs">
			<figcaption><input name="price" type="radio" value="two"> $RANGE</input></figcaption>
		</figure>
		<figure id="price">
			<img src="../static/quespics/three.png" alt="three dollar signs">
			<figcaption><input name="price" type="radio" value="three"> $RANGE</input></figcaption>
		</figure>
		<figure id="price">
			<img src="../static/quespics/four.png" alt="four dollar signs">
			<figcaption><input name="price" type="radio" value="four"> $RANGE</input></figcaption>
		</figure>
		<br><br><br><br>
		<input type="submit" name="submit" id="submit" value="Submit">
	</form>
</body>
</html>


