<!doctype html>
<!-- Website Template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>What Do NYC</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<link rel="stylesheet" type="text/css" href="../static/mobile.css" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="../static/mobile.js"></script>
</head>
<body>
	<div id="header">
		<br></br>
		<a href="index.html" class="logo"><img src="../static/logo.png" alt="What Do NYC logo"></a>
		<ul id="navigation">
			<li><a href="index.html">home</a></li>
			<li><a href="login.html">recommendations</a></li>
			<li class="selected"><a href="spotlight.html">spotlight</a></li>
		</ul>
	</div>
	
	<div id="subhead">
		<h3>Looking for inspiration? Here are some of our favorites.</h3>
	</div>
	
	<div id="grid">
		<li><a href=""><img src="../static/ss_bbp.jpg" alt="Brooklyn Bridge Park"></a></li>
		<li><a href=""><img src="../static/ss_rowboats.jpg" alt="Central Park Row Boats"></a></li>
		<li><a href=""><img src="../static/ss_aham.jpg" alt="Alexander Hamilton House"></a></li>
		<li><a href=""><img src="../static/ss_empire.jpg" alt="Empire State Building"></a></li>
		<li><a href=""><img src="../static/ss_rock.jpg" alt="Rockefeller Center"></a></li>
		<li><a href=""><img src="../static/ss_astprk.jpg" alt="Astoria Park"></a></li>
		<li><a href=""><img src="../static/ss_coney.jpg" alt="Coney Island"></a></li>
		<li><a href=""><img src="../static/ss_down.jpg" alt="Downtown Manhattan City Hall"></a></li>
	</div>
	
	<div id="footer">
		<div>
			<h3>What Do NYC</h3>
			<p>we choose, you do</p>
			<ul>
				<li><a href="index.html">home</a></li>
				<li><a href="login.html">recommendations</a></li>
				<li><a href="spotlight.html">spotlight</a></li>
			</ul>
		</div>
	</div>
	
</body>
</html>


