<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Would You Rather</title>
	<link rel="stylesheet" type="text/css" href="../static/wyr.css">
	<link rel="stylesheet" type="text/css" href="../static/mobile.css" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="../static/mobile.js"></script>
</head>
<body>
	<div id="header">
		<h1 id="name">What Do NYC</h1>
		<ul id="navigation">
			<li><a href="index.html">home</a></li>
			<li>|</li>
			<li class="selected"><a href="login.html">recommendations</a></li>
			<li>|</li>
			<li><a href="spotlight.html">spotlight</a></li>
			<li>|</li>
			<li><a href="about.html">about</a></li>
		</ul>
	</div>
	<h2 id="title">Would you rather...</h2>
	<form id="wouldyourather">
		<figure>
			<img src="../static/wyrpics/food.jpg" alt="Steak and potatoes">
			<figcaption><input name="foodVSsci" type="radio" value="food"> sample foods with famous chefs?</input></figcaption>
		</figure>
		<figure>
			<img src="../static/wyrpics/science.jpg" alt="Planets"></a>
			<figcaption><input name="foodVSsci" type="radio" value="food"> perform a science experiment with a renown scientist?</input></figcaption>
		</figure>
	</form>
</body>
</html>