<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About What Do NYC</title>
	<link rel="stylesheet" type="text/css" href="/static/about.css">
	<link rel="stylesheet" type="text/css" href="/static/mobile-about.css" media="screen and (max-width : 750px)">
</head>
<body>
	<div id="header">
		<h1 id="name">WhatDo NYC</h1>
		<ul id="navigation">
			<li><a href={{ url_for('recs') }}>recommendations</a></li>
			<li>|</li>
			<li><a href={{ url_for('index') }}>spotlight</a></li>
			<li>|</li>
			<li class="selected"><a {{ url_for('about') }}>about</a></li>
		</ul>
	</div>
	
	<div id="content">
		<h2>Our Mission</h2>
		<p>Here at What Do NYC, we want to connect New Yorkers to everything New York City has to offer, 
			from its famous sights and landmarks to its smallest, best-hidden gems.</p>

		<br>
		
		<h2>About What Do NYC</h2>
		<p>What Do NYC is here to help you explore parts of New York City that you'll love--
			without having to jump through any hoops to find them! We've streamlined the process of 
			discovering new places to go and finding fun things to do, so you don't have to. When 
			you make an account with us, we'll ask you a few questions to find out about who you are. 
			Then, once we've gotten to know you, we'll give you personalized recommendations for the 
			hottest venues and activities the city has to offer. We know New Yorkers are busy, and 
			life moves fast, so at What Do NYC, we've cut out the searching and planning so you can 
			get straight to the living and enjoying!</p>

		<br>
	</div>
</body>
</html>
 
