<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About What Do NYC</title>
	<link rel="stylesheet" type="text/css" href="/static/about.css">
	<link rel="stylesheet" type="text/css" href="/static/mobile-about.css" media="screen and (max-width : 750px)">
</head>
<body>
	<div id="header">
		<h1 id="name">What Do NYC</h1>
		<ul id="navigation">
			<li><a href={{ url_for('login') }}>recommendations</a></li>
			<li>|</li>
			<li><a href={{ url_for('index') }}>spotlight</a></li>
			<li>|</li>
			<li class="selected"><a {{ url_for('about') }}>about</a></li>
		</ul>
	</div>
	
	<div id="content">
		<h2>Our Mission</h2>
		<p>What Do NYC's mission is to connect New Yorkers and tourists with all the great places in NYC.</p>

		<br>
		
		<h2>About What Do NYC</h2>
		<p>What Do NYC hopes to introduce exciting and unique experiences that will enhance 
			the lives of New Yorkers and tourists alike and encourage them to experience all NYC has to offer. 
			With personalized recommendations for all of our users, we'll surely be able to suggest what you 
			should do in NYC.</p>

		<br>
	</div>
</body>
</html>
 
