<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Coney Island</title>
	<link rel="stylesheet" type="text/css" href="/static/single.css">
	<link rel="stylesheet" type="text/css" href="/static/mobile.css" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="/static/spotlight.js"></script>
	<script type="text/javascript" src="/static/mobile.js"></script>
</head>
<body>

	<h1>Coney Island</h1>
	<div id="place">
		<img src="/static/spotlightpics/ss_coney.jpg" alt="Coney Island Cyclone"></img>
		<p>1208 Surf Avenue, Brooklyn, NY 11224</p>
		<p><a href="http://www.coneyisland.com">Check It Out</a></p>
	</div>

	<div id="des">
		<p>Description of Coney Island</p>
	</div>

	<div id="close">
		<button id="CLbut" onclick="winClose()">Close</button>
	</div>

</body>
</html>

