<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Spotlight Sights</title>
	<link rel="stylesheet" type="text/css" href="/static/index.css">
	<link rel="stylesheet" type="text/css" href="/static/mobile-index.css" media="screen and (max-width : 750px)">
	<script type="text/javascript" src="/static/spotlight.js"></script>
</head>
<body>
	<div id="header">
		<h1 id="name">What Do NYC</h1>
		<ul id="navigation">
			<li><href="{{ redirect(url_for('login')) }}">recommendations</a></li>
			<li>|</li>
			<li class="selected"><a "{{ url_for('index') }}">spotlight</a></li>
			<li>|</li>
			<li><a "{{ url_for('about') }}">about</a></li>
		</ul>
	</div>

	<div id="grid">
		<li><a href="login.html"><img id="spot" src="/static/spotlightpics/persrec.png" alt="Get personalized recommendation"></a></li>
		<li><a onClick='spotMHP()'><img id="spot" src="/static/spotlightpics/ss_mhp.jpg" alt="Mister Hotpot"></a></li>
		<li><a onClick='spotHG()'><img id="spot" src="/static/spotlightpics/ss_aham.JPG" alt="Hamilton Grange"></a></li>
		<li><a onClick='spotCI()'><img id="spot" src="/static/spotlightpics/ss_coney.jpg" alt="Coney Island Cyclone"></a></li>
		<li><a onClick='spotBH()'><img id="spot" src="/static/spotlightpics/ss_bohall.jpg" alt="Bohemian Hall and Beer Garden"></a></li>
		<li><a onClick='spotLI()'><img id="spot" src="/static/spotlightpics/ss_lilit.jpg" alt="Little Italy"></a></li>

	</div>
</body>
</html>
