<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Little Italy</title>
	<link rel="stylesheet" type="text/css" href="/static/single.css">
	<script type="text/javascript" src="/static/spotlight.js"></script>
</head>
<body>

	<h1>Little Italy</h1>
	<div id="place">
		<img src="/static/spotlightpics/ss_lilit.jpg" alt="Little Italy"></img>
		<p>Lower Manhattan<br>
		New York, NY 10013</p>
		<p><a href="http://www.littleitalynyc.com">Check It Out</a></p>
	</div>

	<div id="des">
		<p>Where better to get Italian food than in New York's Little Italy? Try Lombardi's pizza, 
			get gelato at Mo's, and check out Ferrara's bakery for traditional pastries. 
			Why not bring something home? Stop in Di Palo's Fine Foods for some delicious cheese, 
			cold cuts, and other Italian favorites.</p>
	</div>

	<div id="close">
		<button id="CLbut" onclick="winClose()">Close</button>
	</div>

</body>
</html>
