<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Little Italy</title>
	<link rel="stylesheet" type="text/css" href="../static/single.css">
	<link rel="stylesheet" type="text/css" href="../static/mobile.css" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="../static/mobile.js"></script>
</head>
<body>

	<h1>Little Italy</h1>
	<div id="place">
		<img src="../static/spotlightpics/ss_lilit.jpg" alt="Little Italy"></img>
		<p>Lower Manhattan<br>
		New York, NY 10013</p>
		<p><a href="http://www.littleitalynyc.com">Check It Out</a></p>
	</div>

	<div id="des">
		<p>Description of Little Italy</p>
	</div>

</body>
</html>