<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>What Do NYC Login</title>
	<link rel="stylesheet" type="text/css" href="/static/login.css">
	<link rel="stylesheet" type="text/css" href="/static/mobile-login.css" media="screen and (max-width : 750px)">
</head>
{% block content %}
<body>
	<div id="header">
		<h1 id="name">What Do NYC</h1>
		<ul id="navigation">
			<li class="selected"><a href={{ url_for('login') }}>recommendations</a></li>
			<li>|</li>
			<li><a href={{ url_for('index') }}>spotlight</a></li>
			<li>|</li>
			<li><a href={{ url_for('about') }}>about</a></li>
		</ul>
	</div>
	<br><br><br><br><br><br><br><br>
	<div id="login">
		<h2>Log in to What Do NYC</h2><br>
		<form action="" method="post">
       	          {{ form.hidden_tag() }}
		  Enter username:
                  <br>{{ form.username(size=25) }}<br>
		  Enter password:
                  <br>{{ form.password(size=25) }}<br>
			<input type="submit" name="submit" id="submit" value="Sign In"><br><br><br>
		</form>
                {% if form.errors %}
                  {{ form.errors }}
                {% endif %}
		<div id="makeaccount">	
			<br>
			<p>Don't have an account yet? <a href="{{ url_for('signup') }}">Register</a></p>
		</div>
		
		<div id="forgot">
			<p>Forgot your password? <a href="{{ url_for('forgot') }}">Reset It</a></p><br>
		</div>
		
	</div>
</body>
{% endblock %}
</html>
