<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>What Do NYC Login</title>
	<link rel="stylesheet" type="text/css" href="/static/login.css">
	<link rel="stylesheet" type="text/css" href="/static/mobile.css" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="/static/mobile.js"></script>
</head>
<body>
	<div id="header">
		<h1 id="name">What Do NYC</h1>
		<ul id="navigation">
			<li><a href="index.html">home</a></li>
			<li>|</li>
			<li class="selected"><a href="login.html">recommendations</a></li>
			<li>|</li>
			<li><a href="spotlight.html">spotlight</a></li>
			<li>|</li>
			<li><a href="about.html">about</a></li>
		</ul>
	</div>
	<br><br><br><br><br><br><br><br><br><br>
	<div id="login">
		<h2>Log in to What Do NYC</h2><br>
		<form action="" method="post">
			<input type="text" name="username" id="username" placeholder="Username"><br><br>
			<input type="text" name="password" id="password" placeholder="Password"><br><br><br>
			<input type="submit" name="submit" id="submit" value="Sign In"><br><br><br>
		</form>

		<div id="makeaccount">	
			<br>
			<p>Don't have an account yet? <a href="signup.html">Register</a></p><br>
		</div>
	</div>
</body>
</html>
