<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mister Hotpot</title>
	<link rel="stylesheet" type="text/css" href="/static/single.css">
	<link rel="stylesheet" type="text/css" href="/static/mobile.css" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="/static/mobile.js"></script>
</head>
<body>

	<h1>Mister Hotpot</h1>
	<div id="place">
		<img src="../static/spotlightpics/ss_mhp.jpg" alt="Mister Hotpot"></img>
		<p>133-42 39th Ave Unit #G02, Flushing, NY 11354<br>
		(718) 939-3334</p>
		<p>5306 8th Ave, Brooklyn, NY 11220<br>
		(718) 633-5197</p>
		<p><a href="http://www.misterhotpotnyc.com">See for Yourself</a></p>
	</div>

	<div id="des">
		<p>Here we will put a short description of Mister Hotpot, including why we think it's awesome.</p>
	</div>

</body>
</html>
