<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mister Hotpot</title>
	<link rel="stylesheet" type="text/css" href="/static/single.css">
	<script type="text/javascript" src="/static/spotlight.js"></script>
</head>
<body>

	<h1>Mister Hotpot</h1>
	<div id="place">
		<img src="/static/spotlightpics/ss_mhp.jpg" alt="Mister Hotpot"></img>
		<p>133-42 39th Ave Unit #G02, Flushing, NY 11354<br>
		(718) 939-3334</p>
		<p>5306 8th Ave, Brooklyn, NY 11220<br>
		(718) 633-5197</p>
		<p><a href="http://www.misterhotpotnyc.com">See for Yourself</a></p>
	</div>

	<div id="des">
		<p>One of the best hot pot places in NYC, Mister Hotpot boasts an extensive menu with lots 
			of delicious choices. Whether you order a la carte or choose one of their combos, 
			you are sure to leave Mister Hotpot happy and full.</p>
	</div>

	<div id="close">
		<button id="CLbut" onclick="winClose()">Close</button>
	</div>

</body>
</html>
