<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Recommendations</title>
	<link rel="stylesheet" type="text/css" href="../static/recs.css">
	<script type="text/javascript" src="../static/recs.js"></script>
</head>
<body>
	<div id="header">
		<h1 id="name">What Do NYC</h1>
		<ul id="navigation">
			<li class="selected"><{{ url_for('index') }}>recommendations</a></li>
			<li>|</li>
			<li><a href="index.html">spotlight</a></li>
			<li>|</li>
			<li><a href="about.html">about</a></li>
		</ul>
	</div>

	<!-- Display Recommendation -->
	<p id="displayRecs"> </p>

	<!-- Obtain Place ID and Make API Call -->
	<script>
		var placeID = "ChIJN1t_tDeuEmsRUsoyG83frY4";
		
		var APIkey= "&key=AIzaSyBtWi4CvyxJha2eCfXpWPnjslA3FfRVR40";
		var yourURL="https://maps.googleapis.com/maps/api/place/details/json?placeid=" + placeID + APIkey;
		
		function Get(yourURL) {
			var Httpreq = new XMLHttpRequest(); // a new request
			Httpreq.open("GET",yourURL,false);
			Httpreq.send(null);

			// add something to parse the data (to only return results for the ones we want)

			document.getElementById("displayRecs").innerHTML = Httpreq.responseText;
			return Httpreq.responseText;      
		}

		Get(yourURL);
	</script>


	<div id="results">

		<!-- Needs to be edited so we know what the recommendation -->

		<form name="feedback" id="feedback" onSubmit="validate()" method="post">
			<h3>So, are you going to go?</h3><br>

			<div class="radio-box">
				<input name="rating" type="radio" value="1"><label>No</label>
			</div>
			<div class="radio-box">
				<input name="rating" type="radio" value="2"><label>Unlikely</label>
			</div>
			<div class="radio-box">
				<input name="rating" type="radio" value="3"><label>Undecided</label>
			</div>
			<div class="radio-box">
				<input name="rating" type="radio" value="4"><label>Probably</label>
			</div>
			<div class="radio-box">
				<input name="rating" type="radio" value="5"><label>Definitely</label>
			</div>

			<br><br>
			<input type="submit" name="submit" id="submit" value="New Suggestion" onSubmit="validate()"></input>
		</form>
		<br><br>
	</div>
</body>
</html>







	
