<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Recommendations</title>
	<link rel="stylesheet" type="text/css" href="../static/recs.css">
	<link rel="stylesheet" type="text/css" href="../static/mobile.css" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="../static/recs.js"></script>
	<script type="text/javascript" src="../static/mobile.js"></script>
</head>
<body>
	<div id="header">
		<h1 id="name">What Do NYC</h1>
		<ul id="navigation">
			<li class="selected"><a href="login.html">recommendations</a></li>
			<li>|</li>
			<li><a href="index.html">spotlight</a></li>
			<li>|</li>
			<li><a href="about.html">about</a></li>
		</ul>
	</div>

	<!-- Display Recommendation(s) -->

	<div id="results">

		<!-- Needs to be edited so we know what the recommendation(s) -->

		<form name="feedback" id="feedback" onSubmit="validate()" method="post">
			<h3>So, are you going to go?</h3><br>

			<div class="radio-box">
				<input name="rating" type="radio" value="1"><label>No</label>
			</div>
			<div class="radio-box">
				<input name="rating" type="radio" value="2"><label>Unlikely</label>
			</div>
			<div class="radio-box">
				<input name="rating" type="radio" value="3"><label>Undecided</label>
			</div>
			<div class="radio-box">
				<input name="rating" type="radio" value="4"><label>Probably</label>
			</div>
			<div class="radio-box">
				<input name="rating" type="radio" value="5"><label>Definitely</label>
			</div>

			<br><br>
			<input type="submit" name="submit" id="submit" value="New Suggestion" onSubmit="validate()"></input>
		</form>
	</div>
</body>
</html>



	
