<!DOCTYPE html>
<html>
{% block content %}
  <head>
    <title>Recommendations</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/recs.css">
    <link rel="stylesheet" type="text/css" href="/static/mobile-recs.css" media="screen and (max-width : 750px)">
    <script type="text/javascript" src="/static/recs.js"></script>
    <script>
      function initMap() {
        // Create and load the map that is displayed on the page
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 40.699771, lng:  -74.029229},
          zoom: 11,
	        styles: [
            {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
            {
              featureType: 'administrative.locality',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'geometry',
              stylers: [{color: '#263c3f'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: '#6b9a76'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: '#38414e'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry.stroke',
              stylers: [{color: '#212a37'}]
            },
            {
              featureType: 'road',
              elementType: 'labels.text.fill',
              stylers: [{color: '#9ca5b3'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry',
              stylers: [{color: '#746855'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry.stroke',
              stylers: [{color: '#1f2835'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'labels.text.fill',
              stylers: [{color: '#f3d19c'}]
            },
            {
              featureType: 'transit',
              elementType: 'geometry',
              stylers: [{color: '#2f3948'}]
            },
            {
              featureType: 'transit.station',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#17263c'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.fill',
              stylers: [{color: '#515c6d'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.stroke',
              stylers: [{color: '#17263c'}]
            }
          ]
        });

        // Initialize PlaceIds with recommendations returned from query of Neo4j database in recs route
        placeId1 = '{{ form.recommendations.choices[0][0] }}';
        placeId2 = '{{ form.recommendations.choices[1][0] }}';
        placeId3 = '{{ form.recommendations.choices[2][0] }}';
        placeId4 = '{{ form.recommendations.choices[3][0] }}';

        var infowindow = new google.maps.InfoWindow();
        var service = new google.maps.places.PlacesService(map);

        // Google Places API call for each of the four recommendations
        // Returns a photo as well as the place name and vicinity (less detailed address)
        // Also populates infowindow displayed by clicking on red marker for each place on the map
        service.getDetails({
          placeId: placeId1
        }, function(place, status) {
          if (status === google.maps.places.PlacesServiceStatus.OK) {
            var marker = new google.maps.Marker({
              map: map,
              position: place.geometry.location
            });
            google.maps.event.addListener(marker, 'click', function() {
              infowindow.setContent('<div><strong>' + place.name + '</strong><br>' +
                place.formatted_address + '<br>');
              infowindow.open(map, this);
            });
            var imageLink= place.photos[0].getUrl({'maxWidth': 400, 'maxHeight': 400});
            document.getElementById("photo1").innerHTML= "<img class=\'photo\' src=\'" + imageLink + "\'></img>"
            document.getElementById("vicinity1").innerHTML = place.vicinity;
          }
        });
        service.getDetails({
          placeId: placeId2
        }, function(place, status) {
          if (status === google.maps.places.PlacesServiceStatus.OK) {
            var marker = new google.maps.Marker({
              map: map,
              position: place.geometry.location
            });
            google.maps.event.addListener(marker, 'click', function() {
              infowindow.setContent('<div><strong>' + place.name + '</strong><br>' +
                place.formatted_address + '</div>');
              infowindow.open(map, this);
            });
           var imageLink= place.photos[0].getUrl({'maxWidth': 400, 'maxHeight': 400});
            document.getElementById("photo2").innerHTML= "<img class=\'photo\' src=\'" + imageLink + "\'></img>"
            document.getElementById("vicinity2").innerHTML = place.vicinity;
          }
        });
        service.getDetails({
          placeId: placeId3
        }, function(place, status) {
          if (status === google.maps.places.PlacesServiceStatus.OK) {
            var marker = new google.maps.Marker({
              map: map,
              position: place.geometry.location
            });
            google.maps.event.addListener(marker, 'click', function() {
              infowindow.setContent('<div><strong>' + place.name + '</strong><br>' +
                place.formatted_address + '</div>');
              infowindow.open(map, this);
            });
            var imageLink= place.photos[0].getUrl({'maxWidth': 400, 'maxHeight': 400});
            document.getElementById("photo3").innerHTML= "<img class=\'photo\' src=\'" + imageLink + "\'></img>"
            document.getElementById("vicinity3").innerHTML = place.vicinity;
          }
        });
        service.getDetails({
          placeId: placeId4
        }, function(place, status) {
          if (status === google.maps.places.PlacesServiceStatus.OK) {
            var marker = new google.maps.Marker({
              map: map,
              position: place.geometry.location
            });
            google.maps.event.addListener(marker, 'click', function() {
              infowindow.setContent('<div><strong>' + place.name + '</strong><br>' +
                place.formatted_address + '</div>');
              infowindow.open(map, this);
            });
            var imageLink= place.photos[0].getUrl({'maxWidth': 400, 'maxHeight': 400});
            document.getElementById("photo4").innerHTML= "<img class=\'photo\' src=\'" + imageLink + "\'></img>"
            document.getElementById("vicinity4").innerHTML = place.vicinity;
          }
        });
      }
    </script>
  </head>
  <body>
    <div id="header">
    <h1 id="name">What Do NYC</h1>
    <ul id="navigation">
      <li class="selected"><a href={{ url_for('login') }}>recommendations</a></li>
      <li>|</li>
      <li><a href={{ url_for('index') }}>spotlight</a></li>
      <li>|</li>
      <li><a href={{ url_for('about') }}>about</a></li>
    </ul>
  </div>
  <br><br><br><br><br><br><br>
    
  <div id="recommendations">

        <div id="firstRec" class="rec card">
        <span><h4>{{ form.recommendations.choices[0][1] }}</h4></span>
        <div id=photo1></div>
        <p id="vicinity1"></p>
        <img class="review" src="static/like.png" onclick="getFeedback('1', placeId1); src='static/like2.png'"></img><img class="review" src="/static/dislike.png" onclick="getFeedback('0', placeId1); src='/static/dislike2.png'"></img><br><br>
      </div>
  
      <div id="secondRec" class="rec card">
        <span><h4>{{ form.recommendations.choices[1][1] }}</h4><span>
        <div id=photo2></div>
        <p id="vicinity2"></p>
        <img class="review" src="/static/like.png" onclick="getFeedback('1', placeId2); src='/static/like2.png'"></img><img class="review" src="/static/dislike.png" onclick="getFeedback('0', placeId2); src='/static/dislike2.png'"></img><br><br>
      </div>
  
        <div id="thirdRec" class="rec card">
          <span><h4>{{ form.recommendations.choices[2][1] }}</h4></span>
        <div id=photo3></div>
        <p id="vicinity3"></p>
        <img class="review" src="/static/like.png" onclick="getFeedback('1', placeId3); src='/static/like2.png'"></img><img class="review" src="/static/dislike.png" onclick="getFeedback('0', placeId3); src='/static/dislike2.png'"></img><br><br>
      </div>

      <div id="fourthRec" class="rec card">
        <h4>{{ form.recommendations.choices[3][1]}}</h4>
        <div id=photo4></div>
        <p id="vicinity4"></p>
        <img class="review" src="/static/like.png" onclick="getFeedback('1', placeId4); src='/static/like2.png'"></img><img class="review" src="/static/dislike.png" onclick="getFeedback('0', placeId4); src='/static/dislike2.png'"></img><br><br>
      </div>
    
  </div>
  
  <br>

  <div id="buttons">  

    <!-- When a user clicks on this button, the page is reloaded from the server with new recommendations if the
          user has rated the recommendations he/she was already provided -->
    <button id="new" onclick="window.location.reload(true)">New Recommendation</button>

    <!-- Logout button -->
    <button id="logout" onclick="logout(); window.location.href='about'">Logout</button>

  </div>

  <div id="map"></div>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRuSAQFBz_LWWCHFH86rvmhIkewzqDwt8&libraries=places&callback=initMap">
  </script>

  <br>

  <div id="footer">
    <p>Portions of this page are modifications based on work created and shared by Google
       and used according to terms described in the Creative Commons 3.0 Attribution License.</p>
  </div>

  </body>
  {% endblock %}
</html>

