<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Forgot Password</title>
	<link rel="stylesheet" type="text/css" href="../static/forgot.css">
	<link rel="stylesheet" type="text/css" href="../static/mobile-forgot.css" media="screen and (max-width : 750px)">
</head>
{% block content %}
<body>
	<div id="header">
		<h1 id="name">What Do NYC</h1>
		<ul id="navigation">
			<li class="selected"><a href={{ url_for('login') }}>recommendations</a></li>
			<li>|</li>
			<li><a href={{ url_for('index') }}>spotlight</a></li>
			<li>|</li>
			<li><a href={{ url_for('about') }}>about</a></li>
		</ul>
	</div>

	<br><br><br><br><br><br><br><br>

	<form id="form" method="post" action="" style="text-align:center;">
		<h2>Answer the security question below</h2>
		{{ form.question.choices[0] }}
		<!-- Print security question -->
		
		{{ form.hidden_tag() }}
		
		{{ form.securityAnswer(size=25) }}
		
		{{ form.submit }}
	</form>

</body>
{% endblock %}
</html>
