<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>What Do NYC Sign Up</title>
	<link rel="stylesheet" type="text/css" href="/static/signup.css">
	<link rel="stylesheet" type="text/css" href="/static/mobile-signup.css" media="screen and (max-width : 750px)">
</head>
{% block content %}
<body>
	<div id="header">
		<h1 id="name">What Do NYC</h1>
		<ul id="navigation">
			<li class="selected"><a href={{ url_for('login') }}>recommendations</a></li>
			<li>|</li>
			<li><a href={{ url_for('index') }}>spotlight</a></li>
			<li>|</li>
			<li><a href={{ url_for('about') }}>about</a></li>
		</ul>
	</div>
	<br><br><br><br><br><br><br>
	<div id="signup">
		<h2>Create a What Do NYC Account</h2><br>
		<form action="" method="POST">
                  {{ form.csrf_token }}
                  Enter name: <br>
                  {{ form.name(size=25) }}<br>
                  {% for error in form.name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}<br>

                  Enter email:<br>
		  {{ form.email(size=25) }}<br>
                  {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}<br>

                  Enter username:<br>
                  {{ form.username(size=25) }}<br>
		  {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}<br>

                   Enter password:<br>
                  {{ form.password(size=25) }}<br>
		  {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}<br>

		<p>Select and answer one of the security questions below.</p>
                    <div class="form-group">
                      {{ form.securityQ.label }} 
                      {{ form.securityQ }}
                    </div>
                </select><br><br>

                Enter answer<br>
                {{ form.securityQanswer(size=25) }}<br><br>
		
             {{ form.securityQ.process(request.form) }}
             <center>{{ form.submit }}</center>
		
                {% if form.errors %}
                  {{ form.errors }}
                {% endif %}

                </form>                
		<div id="gotologin">
			<br>
			<p>Already have an account? <a href="login.html">Login</a></p>
		</div>
	</div>
</body>
{% endblock %}
</html>
