<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>What Do NYC Sign Up</title>
	<link rel="stylesheet" type="text/css" href="/static/signup.css">
	<link rel="stylesheet" type="text/css" href="/static/mobile.css" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="/static/mobile.js"></script>
</head>
{% block content %}
<body>
	<div id="header">
		<h1 id="name">What Do NYC</h1>
		<ul id="navigation">
			<li><a href="index.html">home</a></li>
			<li>|</li>
			<li class="selected"><a href="login.html">recommendations</a></li>
			<li>|</li>
			<li><a href="spotlight.html">spotlight</a></li>
			<li>|</li>
			<li><a href="about.html">about</a></li>
		</ul>
	</div>
	<br><br><br><br><br><br><br><br>
	<div id="signup">
		<h2>Create a What Do NYC Account</h2><br>
		<form action="" method="post">
                  Enter name:
                  <br>{{ form.name(size=25) }}<br>
                  Enter email:
		  <br>{{ form.email(size=25) }}<br>
                  Enter username:
                  <br>{{ form.username(size=25) }}<br>
		  Enter password:
                  <br>{{ form.password(size=25) }}<br>
			<input type="submit" name="submit" id="submit" value="Sign Up"><br><br><br>
		</form>
		<div id="gotologin">
			<br>
			<p>Already have an account? <a href="login.html">Login</a></p>
		</div>
	</div>
</body>
{% endblock %}
</html>
