<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Recommendations</title>
	<link rel="stylesheet" type="text/css" href="../static/singlerec.css">
	<link rel="stylesheet" type="text/css" href="../static/mobile.css" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="../static/mobile.js"></script>
</head>
<body>
	<div id="header">
		<h1 id="name">What Do NYC</h1>
		<ul id="navigation">
			<li><a href="index.html">home</a></li>
			<li>|</li>
			<li class="selected"><a href="login.html">recommendations</a></li>
			<li>|</li>
			<li><a href="spotlight.html">spotlight</a></li>
			<li>|</li>
			<li><a href="about.html">about</a></li>
		</ul>
	</div>

	<!--
		<h2>Activity Name</h2>
		<p>Address</p>

		IMAGE		info, including website link
	-->

	<div id="second">
		<h3>Tell Us What You Think</h3>
		<p>The more feedback you give, the better your recommendations will be!</p>

		<form id="feedback">
			<input name="rating" type="radio" value="1">I would never go.</input><br>
			<input name="rating" type="radio" value="2">I probably wouldn't go.</input><br>
			<input name="rating" type="radio" value="3">I'm not sure.</input><br>
			<input name="rating" type="radio" value="4">I might go.</input><br>
			<input name="rating" type="radio" value="5">I definitely want to go.</input><br>

			<br><br>
			<input type="submit" name="submit" id="submit" value="Back"></input>
		</form>
	</div>

</body>
</html>
