<!doctype html>
<!-- Website Template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>What Do NYC</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link rel="stylesheet" type="text/css" href="/static/mobile.css" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="/static/mobile.js"></script>
</head>
<body>
	<div id="header">
		<br></br>
		<a href="index.html" class="logo"><img src="/static/logo.png" alt="What Do NYC logo"></a>
		<ul id="navigation">
			<li><a href="index.html">home</a></li>
			<li class="selected"><a href="login.html">recommendations</a></li>
			<li><a href="spotlight.html">spotlight</a></li>
		</ul>
	</div>
	
	<div id="subhead">
		<h3>We want to get to know you! Play this quick game of would you rather (just this once) so we can give you the best recommendations.</h3>
		<h3>We promise it'll be fun (and quick)!</h3>
	</div>
	
	<div id="wouldyourather">
		<form action="" method="post">
			<figure>
				<img src="/static/food.png" alt="">
				<figcaption><input type="radio" name="foodVSsci" value="food">sample foods with a famous chef?</figcaption>
			</figure>
			<figure>
				<img src="/static/science.png" alt="">
				<figcaption><input type="radio" name="foodVSsci" value="sci">conduct a science experiment with a famous scientist?</figcaption>
			</figure>
			<br><br><br>
			<figure>
				<img src="/static/art.png" alt="">
				<figcaption><input type="radio" name="artVShistory" value="art">spend time with your favorite artist (alive or deceased)?</figcaption>
			</figure>
			<figure>
				<img src="/static/history.png" alt="">
				<figcaption><input type="radio" name="artVShistory" value="history">go back in time to any place and year?</figcaption>
			</figure>
			<br><br><br>
			<figure>
				<img src="/static/outdoor.png" alt="">
				<figcaption><input type="radio" name="outdoorVSsports" value="outdoor">spend time walking around a beautiful garden?</figcaption>
			</figure>
			<figure>
				<img src="/static/sports.png" alt="">
				<figcaption><input type="radio" name="outdoorVSsports" value="sports">hike a breathtaking trail?</figcaption>
			</figure>		
			<br><br><br>
			<figure>
				<img src="/static/entertainment.png" alt="">
				<figcaption><input type="radio" name="entertainmentVSmusic" value="entertainment">spend the night in a comdey club?</figcaption>
			</figure>
			<figure>
				<img src="/static/music.png" alt="">
				<figcaption><input type="radio" name="entertainmentVSmusic" value="music">spend the night listening to live music?</figcaption>
			</figure>			

			<br><br><br>

			<input type="submit" name="submit" id="submit" value="Submit"><br><br>
		</form>
	</div>
	
	<div id="footer">
		<div>
			<h3>What Do NYC</h3>
			<p>we choose, you do</p>
			<ul>
				<li><a href="index.html">home</a></li>
				<li><a href="login.html">recommendations</a></li>
				<li><a href="spotlight.html">spotlight</a></li>
			</ul>
		</div>
	</div>
	
</body>
</html>
