<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Would You Rather</title>
	<link rel="stylesheet" type="text/css" href="/static/wyr.css">
	<link rel="stylesheet" type="text/css" href="/static/mobile.css" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="/static/mobile.js"></script>
</head>
<body>
	<div id="header">
		<h1 id="name">What Do NYC</h1>
		<ul id="navigation">
			<li class="selected"><a href="login.html">recommendations</a></li>
			<li>|</li>
			<li><a href="index.html">spotlight</a></li>
			<li>|</li>
			<li><a href="about.html">about</a></li>
		</ul>
	</div>
	<h2 id="title">Would you rather...</h2>
	<form id="wouldyourather" action="" method="post">
		<figure>
			<img src="/static/wyrpics/food.jpg" alt="Steak and potatoes">
			<figcaption><input name="foodVSsci" type="radio" value="food"> sample foods with famous chefs?</input></figcaption>
		</figure>
		<figure>
			<img src="/static/wyrpics/science.jpg" alt="Planets"></a>
			<figcaption><input name="foodVSsci" type="radio" value="sci"> perform a science experiment with a renown scientist?</input></figcaption>
		</figure>

		<figure>
			<img src="/static/wyrpics/art.jpg" alt="Paint and colored pencils">
			<figcaption><input name="artVShistory" type="radio" value="art"> spend time with your favorite artist (alive or deceased)?</input></figcaption>
		</figure>
		<figure>
			<img src="/static/wyrpics/history.jpg" alt="Paul Revere Statue"></a>
			<figcaption><input name="artVShistory" type="radio" value="history"> go back in time to any place and year?</input></figcaption>
		</figure>

		<figure>
			<img src="/static/wyrpics/outdoors.jpg" alt="Sunflowers">
			<figcaption><input name="outVSsports" type="radio" value="out"> spend time walking around a beautiful garden?</input></figcaption>
		</figure>
		<figure>
			<img src="/static/wyrpics/sports.jpg" alt="Hiking Trail">
			<figcaption><input name="outVSsports" type="radio" value="sports"> hike a breathtaking trail?</input></figcaption>
		</figure>

		<figure>
			<img src="/static/wyrpics/comedy.jpg" alt="">
			<figcaption><input name-"entVSmusic" type="radio" value="ent"> spend the night at a comedy club?</input></figcaption>
		</figure>
		<figure>
			<img src="/static/wyrpics/music.jpg" alt="">
			<figcaption><input name-"entVSmusic" type="radio" value="music"> spend the night listening to live music?</input></figcaption>
		</figure>

		<br><br>

		<input type="image" src="/static/next-arrow.png" id="submit" alt="Submit">

		<br><br>
		
	</form>
</body>
</html>





